#close-modal{
    padding: .6rem 1.2rem;
    background-color: #888;
    color: #fff;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    opacity: .9;
    font: 1rem;
    transition: 0.4s;
}


#close-modal {
    background-color: #ff0000;
}

#close-modal:hover{
    opacity: 1;
}

#fade, #modal{
    transition: .5s;
    opacity: 1;
    pointer-events: all;
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal{
    position: fixed;
    left: 45%;
    top: 50%;
    transform: translate(-30%, -50%);
    z-index: 10;
    background: #fff;
    width: 60%;
    max-width: 90%;
    padding: 1.2rem;
    border-radius: 0.5rem;
}

.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.modal-header h2{
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

#modal.hide, #fade.hide{
    opacity: 0;
    pointer-events: none;
} 

#modal.hide{
    top: 0;
}

.modal-body{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.modal-body p{
    margin-bottom: 1rem;
}

.modal-body-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.modal-body-content img{
    width: 450px;
    height: 100%;
    object-fit: cover;
}

.modal-body-content .texto-modal{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.modal-body-content .texto-modal div{
    margin: 10px 0;
}

.main-modal-botao{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.modal-body-content .modal-botao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.modal-body-content .modal-botao div button{
    padding: .6rem 1.2rem;
    color: #fff;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    opacity: .9;
    font: 1rem;
    transition: 0.4s;
    width: 170px;
    background-color: #B5C5BA;
}

.modal-body-content .modal-botao div button:hover{
    transition: 0.6s;
    background-color: #828f86;
}

.finalizar-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.finalizar-modal button{
    padding: .6rem 1.2rem;
    color: #fff;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    opacity: .9;
    font: 1rem;
    transition: 0.4s;
    width: 170px;
    background-color: #00ff51b9;
}

.finalizar-modal button:hover{
    transition: 0.6s;
    background-color: #00ff51;
}